.step-list {
  justify-content: center;
}

.step-list li {
  padding: 12px 30px;
  color: #333333;
  text-decoration: none;
}

.step-list li a {
  padding: 12px 30px;
  color: #333333;
  text-decoration: none;
}
.step-list li.active a {
  color: #ffffff;
}
.next-button {
  float: right;
}
.payment-button {
  float: right;
}

.checkbox-input {
  position: relative !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.custom-label {
  margin-top: 6px;
}

.custom-radio-button {
  margin: -3px 10px;
}
.custom-radio-button input[type="radio"] {
  display: none;
}
.custom-radio-button input[type="radio"]:checked + label:before {
  border-color: #0062cc;
  animation: ripple 0.2s linear forwards;
}
.custom-radio-button input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.custom-radio-button label {
  padding-left: 20px;
  display: inline-block;
  height: 20px;
  margin-top: 0;
  cursor: pointer;
  vertical-align: bottom;
}
.custom-radio-button label:before,
.custom-radio-button label:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: all 0.3s ease;
  transition-property: transform, border-color;
}
.custom-radio-button label:before {
  left: 20px;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}
.custom-radio-button label:after {
  top: 5px;
  left: 25px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: #0062cc;
}

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}
